* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
  background: url('https://cdn.pixabay.com/photo/2015/12/27/05/48/turntable-1109588_640.jpg') no-repeat center center/cover;
  height: 100vh;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;

  display: flex;
  justify-content: space-between; /* LOGO left, menu right */
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
}


.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  padding: 0 2rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-content {
  max-width: 700px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  padding: 0.75rem 1.5rem;
  border: none;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 5px;
}

.btn.primary {
  background-color: #00bcd4;
  color: #fff;
}

.btn.secondary {
  background-color: #fff;
  color: #00bcd4;
}

.btn:hover {
  opacity: 0.9;
}
